<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Tochtli - {{ page.title }}</title>
      <meta name="viewport" content="width=device-width">

      <!-- syntax highlighting CSS -->
      <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{{ site.baseurl }}/css/responsive.css">

      <!-- Google Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <a href="https://github.com/puzzleflow/tochtli"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
    <div class="site">
      <div class="sidebar" id="sidebar">
        <div class="header">
          <h1 class="title"><a href="{{ site.baseurl }}/"><img id="logo" src="{{ site.baseurl }}/images/tochtli.jpg"></a></h1>
          <span class="tagline">Tochtli</span>
        </div>
        <div class="posts">
          <ul class="posts-list">
            <li class="post-link section-title">Tutorials</li>
            <li class="post-link menu-item"><a href="{{ site.baseurl }}/tutorials/getting-started.html">Getting started</a></li>
            <li class="post-link menu-item"><a href="{{ site.baseurl }}/tutorials/scaling.html">Scaling</a></li>
            <li class="post-link menu-item"><a href="{{ site.baseurl }}/tutorials/client-notifications.html">Client notifications</a></li>
          </ul>
        </div>
        <div class="footer">
          <span id="footer-links">
            <a href="http://puzzleflow.com" class="footer-link">PuzzleFlow</a> <span class="separator">&bull;</span>
            <a href="https://github.com/PuzzleFlow/tochtli" class="footer-link">GitHub</a>
          </span>
          <p>Image by <a href="https://www.flickr.com/photos/gwendalcentrifugue/8082137667">Gwendal Uguen</a></p>
        </div>
      </div>
      <div class="content" id="home">
        <div id="sidebar-button">
          <img src="{{ site.baseurl }}/images/sidebar-button.png">
        </div>

        <div class="post">
          {{ content }}
        </div>
      </div>

    </div>
    <script src="{{ site.baseurl }}/scripts/responsive.js" type="text/javascript"></script>
  </body>
</html>
